# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
env/
venv/
.venv/

# =========================
# Django
# =========================
db.sqlite3
*.log
media/
staticfiles/

# =========================
# Environment Variables
# =========================
.env

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Migrations Cache (optional)
# =========================
*/migrations/__pycache__/
